/* Reset body and html */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Map-specific styles */
.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Ensure map controls stay above imported styles */
.mapboxgl-ctrl-group {
  z-index: 2;
}
.mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right  {
  margin-top: 100px !important;
}


/* Home button */
.home-btn {
  background: url("./assets/icons/home-icon.svg");
  background-size: 80%;
}

/* Override any conflicting styles from external stylesheets */
#container.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

main {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
